body {
    background: black;
    color: lime;
    font-size: 1.666vmax;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    border: 3px solid red;
    width: 80vw;
    height: 95vh;
    color: red;
}

button {
    background: lime;
    border: 1px solid red;
    width: 20vw;
    height: 10vh;
    margin-top: -3vh;
}

button:hover {
    background: green;
}

footer {
    margin-top: 100vh;
}

#main_div {
    text-align: center;
    width: 60vw;
    height: 100vh;
    margin-left: 3vw;
    border: 1px solid lime;
    color: red;    
}

#main_div p {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

#info_div {
    text-align: center;
    width: 25vw;
    display: block;
    margin-top: -100vh;
    margin-left: 67vw;
}

#info_div p {
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    color: red;
}

#update_div {
    flex: 1;
    border: 1px solid lime;
    width: 25vw;
    height: 45vh;
    margin-bottom: 5vh;
}

#highlight_div {
    flex: 1;
    border: 1px solid lime;
    width: 25vw;
    height: auto;
    margin-top: 5vh;
}

#project_div {
    text-align: center;
    border: 1px solid lime;
    margin-left: 7vw;
    width: 85vw;
    height: 85vh;
}

#project_div p {
    margin-top: 5vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
