body {
    display: grid;
    place-items: center;
    background: black;
    color: lime;
    font-size: 1.666vmax;
}

iframe {
    border: 3px solid red;
    width: 80vw;
    height: 80vh;
    color: red;
}

button {
    background: lime;
    border: 1px solid red;
    width: 20vw;
    height: 5vh;
}

button:hover {
    background: green;
}

#main_div {
    text-align: center;
    width: 60vw;
    height: 85vh;
    border: 1px solid lime;
    color: red;    
}

#main_div p {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

#info_div {
    text-align: center;
    width: 25vw;
    margin-right: 5vw;
    float: right;
    /* border: 1px solid blue; */
}

#info_div p {
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    color: red;
}

#update_div {
    border: 1px solid lime;
    width: 25vw;
    height: 45vh;
    margin-bottom: 5vh;
}

#highlight_div {
    border: 1px solid lime;
    width: 25vw;
    height: auto;
    margin-top: 5vh;
}

#project_div {
    text-align: center;
    border: 1px solid lime;
    margin-left: 7vw;
    width: 85vw;
    height: 85vh;
}

#project_div p {
    margin-top: 5vh;
}

.center_text {
    display: grid;
    place-items: center;
}
